<!DOCTYPE html>
<html>
<head lang="en">
    <meta name="viewport" content="initial-scale=1, maximum-scale=3, minimum-scale=1, user-scalable=no">
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <!-- 启用360浏览器的极速模式(webkit) -->
    <meta name="renderer" content="webkit">
    <!-- 避免IE使用兼容模式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
    <meta name="HandheldFriendly" content="true">
    <!-- 微软的老式浏览器 -->
    <meta name="MobileOptimized" content="320">
    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
    <!-- UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <!-- QQ强制全屏 -->
    <meta name="x5-fullscreen" content="true">
    <!-- UC应用模式 -->
    <meta name="browsermode" content="application">
    <!-- QQ应用模式 -->
    <meta name="x5-page-mode" content="app">
    <!-- windows phone 点击无高光 -->
    <meta name="msapplication-tap-highlight" content="no">
    <!-- 适应移动端end -->
    <title></title>
    <link rel="stylesheet" href="css/h5reset.css"/>
    <link rel="stylesheet" href="css/login.css"/>

    <script src="js/vue.min.2.0.js"></script>
    <script src="js/vue-tap.js"></script>
    <script src="js/jquery-3.1.1.min.js"></script>
</head>
<body>
    <div id="body">
        <header>
            <img v-bind:src="img" class="head_img"/>
        </header>
        <main>
            <div class="form_input">
                <div class="number">
                    <input type="number" v-model="user" class="number_input" placeholder="手机号"/>
                </div>
                <div class="password">
                    <input type="password" v-model="passWord" class="password_input" placeholder="密码"/>
                </div>
            </div>
            <div class="form_button">
                <div class="login">
                    <input type="button" value="登录" class="login_btn"/>
                </div>
                <div class="join">
                    <input type="button" value="注册" class="login_join"/>
                </div>
            </div>
            <p class="problem">{{text}}</p>
        </main>
        <footer>
            <p>{{date}}</p>
        </footer>
    </div>
    <script>
        var app=new Vue({
            el:"#body",
            data:{
                user:"",
                passWord:"",
                text:"登录遇到问题?",
                date:"版本是  2016-2020   @Blaz",
                img:"img/login/head.png"
            },
            mounted: function () {
                this.$nextTick(function () {
                    $("html").height(window.innerHeight + "px");
                    $("html").width(window.innerWeight + "px");

                    $("header").height(window.innerHeight *.4 + "px");
                    $("main").height(window.innerHeight *.5 + "px");

                    $(".number,.password").height(window.innerHeight *.1+ "px");
                    $(".number_input,.password_input").height(window.innerHeight *.06+ "px");

                    $(".login,.join").height(window.innerHeight *.1+ "px");
                    $(".login_btn,.login_join").height(window.innerHeight *.06+ "px");
                })
            }
        })
    </script>
</body>
</html>